{% extends "main.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container sections">
    <div class="row">
      <div class="col-md-12" align="center">
          <h1>The Items Catalogs Application</h1>
      </div>
    </div>
</div>
<div class="container sections">  
    <div class="row">
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="col-md-3" style="background-color:rgba(255, 255, 255, 0.945); padding-top: 7px;">
        <h5>:: Category ::</h5>
        {% if 'username' in session %}
        <a href="{{ url_for('add_category') }}"><button class="btn btn-info">:: Add Category ::</button></a>
        {% endif %}
       <hr>
        {% for category in categories %}
          <a href="{{ url_for('show_items_in_category', category_id=category.id) }}"><p><i class='fas fa-caret-right'></i> {{ category.name }}</p></a>
        {% endfor %}
      </div>             
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="col-md-8" style="background-color:rgba(255, 255, 255, 0.945); padding-top: 7px;">
        <h5>:: Latest Items ::</h5>
        {% if 'username' in session %}
        <a href="{{ url_for('add_item') }}"><button class="btn btn-warning" style="margin-left: 10px;">:: Add Item ::</button></a>
        {% endif %}
        <hr>
        {% for item in items %}
          <a href="{{ url_for('show_item', item_id=item.id) }}"><p><i class='fas fa-caret-right'></i> {{ item.name }}</p></a>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}