{% extends "main.html" %}
{% block title %}All Items{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-12">
        <div class="row" style="margin-top: 34px;">
            <h4>Item : {{ item.name }}</h4>
         </div>
         <div class="row">
                <h6>Creator : <i class='fas fa-eye'></i> {{ owner.name }}&nbsp&nbsp&nbsp, Category : <i class="fa fa-folder-open"></i>&nbsp{{ category.name }}</i></h6>
         </div><br>
        <table>
            <tbody>
                <tr>
                    <td>Title : {{ item.name}}</td>
                </tr>
                 <tr>
                    <td>Decription : {{ item.description }}</td>
                </tr>
            </tbody>
        </table><br>
        {% if 'username' in session %}
        {% if session['user_id'] == owner.id %}
        <div class="row" style="margin-top: 10px;">
            <form>
                <a href="{{ url_for('edit_item', item_id=item.id) }}"><button type="button" class="btn btn-info">Edit</button></a>
                <a href="{{ url_for('delete_item', item_id=item.id) }}"><button type="button" class="btn btn-danger">Delete</button></a>
            </form>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}